body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". ."
    "party .";

}
.progress {
    width: 40%;
    background-color: grey;
}

.health {
    grid-area: bar;
    width: 100%;
    margin: 3px 0;
    background-color: orange;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    grid-area: party;
}

.box {
    display: flex;
    flex-direction: column;
    width:250px;
    margin:1rem;
    
}
.level-and-name {
    grid-area: level-and-name;
    display: flex;
}

.name {
    padding: 0.3rem;
}

.level {
    padding: 0.3rem;
}

.player-icon {
    grid-area: icon;
    background-color: red;
}

.player {
    display: inline-grid;
    grid-template-columns: 30px 1fr 1fr;
    grid-template-rows: 1fr min-content 15px ;
    grid-template-areas:
        "icon . ."
        "icon level-and-name ."
        "bar bar bar";
    margin:.5rem;
}

.buttons {
    display: flex; 
    position: absolute;
    right: 35%;
}
